.tulipan {
    position: relative;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid #ff69b4; /* Color rosa */
    border-radius: 50%;
    transform: rotate(180deg);
}


.hoja {
    position: absolute;
    width: 30px;
    height: 80px;
    background-color: #8db255; /* Color verde */
    border-radius: 40% 40% 0 0;
    transform: rotate(45deg);
}

.hoja.izquierda {
    top: -35px;
    left: 7px;
}

.hoja.derecha {
    top: -35px;
    right: 7px;
    transform: rotate(-45deg);
}

.button-container
{
margin-top: 30px;
}


div.petalo
{
	background-color:#DBA901;
	border-radius: 40px;
	width: 80px;
	height: 80px;
	position: absolute;
}
#centro
{
	background-color: #ffeb96;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	width: 100px;
	height: 100px;
	top:50%;
	left:50%;
	position: absolute;
	margin-top: -50px;
	margin-left: -50px;
}
#tallo
{
	width: 15px;
	height: 150px;
	background-color: #006c67;
	margin-top: -100px;
	margin-left: 145px;
}
#hoja
{
	background-color: #006c67;
	border-radius: 15px 0px 15px 0px;
	width: 30px;
	height: 30px;
	margin-left: 160px;
	margin-top: -90px;
	position: absolute;
}

#flor
{
	width: 300px;
	height: 300px;
    color: yellow;
	background-color: transparent;
	position: relative;
}
#p1
{
	top:70px;
	left:40px;
}
#p2
{
	top:40px;
	left:110px;
}
#p3
{
	top:70px;
	left:180px;
}
#p4
{
	top:145px;
	left:44px;
}
#p5
{
	top:180px;
	left:114px;
}
#p6
{
	top:140px;
	left:180px;
}
#figura{
	position: relative;
	background-color: transparent;
	top:0px ;
	left: 0px;
	width: 300px;
	margin: auto;
}
#cesped{
	position: absolute;
	width: 394px;
	position: absolute;
	bottom: 0px;
}
.manga{
	background: #80ed99;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	width: 50px;
	height: 50px;
	display: inline-block;
}
.fondo_manga{
  background: #80ed99;
  height: 50px;
  left: -10px;
  position: absolute;
  top: 26px;
  width: 394px;
}